<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongyun.mapper.UserMapper">

    <select id="getAll" resultType="com.hongyun.entity.User">
        SELECT * FROM user
    </select>

    <insert id="insert" parameterType="com.hongyun.entity.User">
        insert into user (name, email, password) values (#{name}, #{email}, #{password});
    </insert>


    <insert id="findByEmail" parameterType="com.hongyun.entity.User">
        select * from user where email = #{email}
    </insert>



</mapper>